// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap");

// Define fonts for body and headers
$body-font: "pp_agrandirgrand_heavy", "sans-serif";
$headers-font: "pp_agrandirgrand_heavy", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
  font-family: "pp_agrandirgrand_heavy";
  src: url("assets/ppagrandir-grandheavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_agrandirgrand_light";
  src: url("ppagrandir-grandlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_agrandirregular";
  src: url("ppagrandir-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_agrandir_textbold";
  src: url("ppagrandirtext-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_agrandirnarrow_regular";
  src: url("ppagrandir-narrowregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pp_agrandirthin_italic";
  src: url("ppagrandir-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
