// // Specific CSS for your home-page
.container-fluid.container-home {
  background-color: black;
  height: 80vh;
}
.mypic {
  max-width: 50%;
  max-height: 20rem;
  border: 3px solid $light-pink;
  padding: 0;
}
.row-custom {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.text-pink .text {
  color: $light-pink;
}
