.container-myworks {
  background-color: white;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-img {
  border: 3px solid black;
}
//project cards

//hover effects for project cards
.img-container {
  background-color: $black;
  z-index: 4;
  display: inline-block;
  position: relative;
}

.project-card:hover .card-img {
  z-index: 2;
  opacity: 0.4;
  transition: all 1s;
  -webkit-transition: all 1s;
}
//button on hover
.button-card {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: none;
  color: $light-pink;
  height: 18%;
  border: black 3px solid;
}
.card-img:hover + .button-card {
  display: inline-block;
}
.button-card:hover {
  display: inline-block;
  background-color: $turquoise;
  color: black;
}

//project card details + hover effect
.project-card a {
  text-decoration: none;
  color: black;
  font-family: "pp_agrandirnarrow_regular";
  font-size: 20px;
}
.project-card:hover .card-title {
  background-image: linear-gradient(to right, white 50%, $turquoise 50%);
  background-size: 200%;
  transition: background-position 0.2s;
  background-position: -100%;
}
